.row.lead
  .col-xs-6.col-md-3.leadphoto
    = image_tag "ball-puddle-e-col-hdr-2.png", :class => "thumbnail", :title => "Column Heading Graphic with Entreuse Logo Graphic"

  .col-xs-6.col-md-3
    %h4.rubic Category Indicator (1-2 words)
    %h3.header Leadline (3-6 words)
    %p.blurb Short blurb (4-6 words)