#billboard
  
  - if user_signed_in?
  
    .panel
      %h2 Welcome to the Members' Area.
      .text-center
        = image_tag "ball-puddle-e-col-hdr-2.png", :title => "Column Heading Graphic with Entreuse Logo Graphic"
        %h3 Let's get started
        %p= link_to "Create EPK Storyboard", new_fact_sheet_path, class: "btn btn-basic btn-lg"
        %p= link_to "Show/Edit EPK Storyboard", "#", class: "btn btn-basic btn-lg"

 