
<div class="panel panel-primary panel-narrow">
  
  <div class="panel-heading">
    <h1>Editing fact_sheet</h1>
  </div>
  
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <%= link_to 'Show', @fact_sheet %> |
    <%= link_to 'Back', fact_sheets_path %>
  </div>

</div>  
    




