.panel
  %h2.text-center The Team
  .row
    .col-xs-10.col-sm-4.col-md-3.col-lg-3
      = image_tag "f1-sandy-l-fishler.png", :title => "Sandy L. Fischler, Entreuse Founder", :class => "img-center img-responsive image-md img-margin img-styling-basic"
      
    .col-xs-12.col-sm-8.col-md-9.founder
      %p
        %span.name-hilite Sandy Fischler
      %p Sandy is a marketing and special events freelance professional who wants a better way to promote, not only her clients' work, her work as well. Together with her businss partner, they have built Entreuse for themselves and for everyone else who needs a to get attention for what they do. 
      %p Sandy is a graduate of The Founder Institute, where Entreuse was incubated/accelerated under the guidance of highly experienced entrepreneur mentors. 
      
  .row
    .col-xs-10.col-sm-4.col-md-3
      = image_tag "f1-jayson-t-perry.png", :title => "Jayson T. Perry, Entreuse Founder", :class => "img-center img-responsive image-md img-margin img-styling-basic"  
      
    .col-xs-12.col-sm-8.col-md-9.founder
      %p
        %span.name-hilite Jayson Perry 
      %p Jayson is a 20-year music industry gaining expertise in a record label that insisted their A&amp;R executives also be experience marketing and promotions professionals. This is where he learned the value of a good "story" presented in a  dynomite package.
      %p With his partner, Sandy, Jayson set-out to create the App that helps him, and others, present the story in way that is compelling and geared to create momentum.
