.row
  .col-xs-12.col-sm-4.col-md-4.text-center
    %h4 Designed With
    = link_to image_tag("UXPin-logo-md.png", :title => "UXPin Logo", :class => "img-center img-responsive"), "http://uxpin.com/", :target => "_blank"
  
  .col-xs-12.col-sm-4.col-md-4.text-center
    %h4 Incubated by
    = link_to image_tag("fi-logo-w-typography-md.png", :title => "FI Graduates Badge", :class => "img-center img-responsive"), "http://fi.co/about", :target => "_blank"
  
  .col-xs-12.col-sm-4.col-md-4.text-center
    %h4 Ruby on Rails
    = link_to image_tag("onemorails-edu-logo-md.png", :title => "One Month Rails Badge", :class => "img-center img-responsive"), "http://fi.co/about", :target => "_blank"

