<div id="demos">
  <div class="epk">
    <div class="panel">
      <div class="epk-content">
        <div id="shout" class="panel shout-panel">
          <h1>DEMO - Electronic Media Kit (EMK)</h1>
        </div>
        <!-- begin main epk content -->
        <div class="row">
          <div class="col-xsm-12 col-sm-12 col-md-9 col-lg-9 col-xlg-9">
            <article class="epk-locker-display">
              <div class="epk-heading">
                <div class="row">
                  <div class="col-xsm-12 col-sm-12 col-md-5 col-lg-5 col-xlg-5">
                    <%= image_tag "jp-slackline-image.png", :class => "img-center img-responsive", :title => "Image Placeholder-JP Slackline" %>
                  </div>
                  <div class="col-xsm-12 col-sm-12 col-md-7 col-lg-7 col-xlg-7">
                    <p class="rubric rubric-lg">The Project</p>
                    <h2>Headline to Headline: <small>This is where the rubber meets the road: Does your EPK have a Purpose</small></h2>
                    <p>Lip lorem in the spyhouse she came. Then Tanagrah flew over the seas to win semack. See high Tanagrah falls. Get up stops a Semacklatte.</p>
                    <p class="text-right"><a data-toggle="modal" data-target="#epkHeadline">
                        more. . .
                      </a></p>
                    <!-- Button trigger modal -->
                      

                  </div>
                </div>
              </div>
              <div class="row">
                
                <div id="theIt" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                  
                <h3 class="rubric">The It</h3>
                <div class="row">
                    <div class="article-image col-xsm-12 col-sm-5 col-md-5 col-lg-5 col-xlg-5">
                      <%= image_tag "jp-slackline-image.png", :class => "img-center img-responsive", :title => "Image Placeholder-JP Slackline" %>
                    </div>
                    <div class="article-shout col-xsm-12 col-sm-7 col-md-7 col-lg-7 col-xlg-7">
                      <p class="rubric">The Commardre</p>
                      <h3>Training for Life</h3>
                      <p class="blurb">This is the blurb introducing the human element of the project</p>
                    <!-- Button trigger modal -->
                      <p class="text-right"><a data-toggle="modal" data-target="#projectHistory">
                        more. . .
                      </a></p>
                    </div>  
                  </div>
                </div>
                <div id="theWho" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                <h3 class="rubric">The Who</h3>
                  <div class="row">
                    <div class="article-image col-xsm-12 col-sm-5 col-md-5 col-lg-5 col-xlg-5">
                      <%= image_tag "f1-jayson-t-perry.png", :class => "img-center img-responsive", :title => "Image Placeholder-JP Slackline" %>
                    </div>
                    <div class="article-shout col-xsm-12 col-sm-7 col-md-7 col-lg-7 col-xlg-7">
                      <p class="rubric">The Founder</p>
                      <h3>Jayson Perry</h3>
                      <p class="blurb">This is the blurb introducing the human element of the project</p>
                    <!-- Button trigger modal -->
                      <p class="text-right"><a data-toggle="modal" data-target="#biography">
                        more. . .
                      </a></p>
                      
                    </div>  
                  </div>
                </div>
                
              </div>
              
            </article><!-- end .epk-wrapper -->
          </div>
          
          <div class="col-xsm-12 col-sm-12 col-md-3 col-lg-3 col-xlg-3">
            <section class="rackmount">
              <div id="welcome">
                <h3 class="rubric">Welcome</h3>
              </div>
            </section><!-- end .rackmount -->
          </div>
        </div>
        </div><!-- end .epk-content -->
    </div><!-- end .epk-wrapper -->
  </div><!-- end .epk -->
</div><!-- end #demos -->


<!-- == Modals =================== -->

<!-- Modal -->
<div class="modal fade" id="epkHeadline" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Veterans Looking Forward</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="projectHistory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Veterans Taijiquan Association Launch</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="biography" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Jayson Perry, Founder</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>