<div class="container panel">
  <div id="billboard">
    <div class="home-slate">
      <h1>Entreuse EPKs by Mediapack</h1>
      <p>Find me in app/views/welcome/home.html.erb</p>
      <div class="section-box">
Just something here
      </div>
    </div>  
  </div>
</div>
