<div class="container panel">
  <div id="billboard">
    <div class="home-slate">
      <h1>Welcome#home</h1>
      <p>Find me in app/views/welcome/home.html.erb</p>
      <div class="section-box">
        <%= link_to 'guides', 'guides_path' %>
        <%= link_to 'plans', 'plans_path' %>
        <%= link_to 'terms', 'terms_path' %>
      </div>
    </div>  
  </div>
</div>
